internal/pycolmap
__pycache__/
interal/__pycache__/
tests/__pycache__/
.DS_Store
.vscode/
.idea/
__MACOSX/
*.err
*.out
output/
RobustNerf/
data/
jupyter/
slurm/
output_8/
output_2/
output_ablation/
zzh_output_8/
360/
output_360/
output_new_ablation/
output_highres
scripts/SAM/*
scripts/static/*
scripts/blockview/*
video_maker/
output_ablation_new/
tmp_script/
scripts/SAM/
Datasets/
